<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","anchor":"main","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group" id="main">
	<!-- wp:group {"style":{"spacing":{"padding":{"top":"clamp(3rem, 1rem + 6vw, 6rem)","bottom":"clamp(2rem, 1rem + 3vw, 3.5rem)"}}},"layout":{"type":"constrained","wideSize":"75rem"}} -->
	<div class="wp-block-group" style="padding-top:clamp(3rem, 1rem + 6vw, 6rem);padding-bottom:clamp(2rem, 1rem + 3vw, 3.5rem)">
		<!-- wp:post-title {"level":1,"align":"wide"} /-->
		<!-- wp:cacdemo/publish-actions {"align":"wide"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:post-content {"style":{"spacing":{"padding":{"bottom":"var:preset|spacing|section"}}},"layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
